/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.4.10-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: doucka2026_videoboutique
-- ------------------------------------------------------
-- Server version	11.4.10-MariaDB-ubu2404

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Current Database: `doucka2026_videoboutique`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `doucka2026_videoboutique` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */;

USE `doucka2026_videoboutique`;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) NOT NULL,
  `checksum` varchar(64) NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) NOT NULL,
  `logs` text DEFAULT NULL,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `applied_steps_count` int(10) unsigned NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ad`
--

DROP TABLE IF EXISTS `ad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ad` (
  `id` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `imageUrl` varchar(191) NOT NULL,
  `linkUrl` varchar(191) NOT NULL,
  `position` varchar(191) NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT 1,
  `clicks` int(11) NOT NULL DEFAULT 0,
  `impressions` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_ad_pos_isact` (`position`,`isActive`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ad`
--

LOCK TABLES `ad` WRITE;
/*!40000 ALTER TABLE `ad` DISABLE KEYS */;
/*!40000 ALTER TABLE `ad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `adminlog`
--

DROP TABLE IF EXISTS `adminlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `adminlog` (
  `id` varchar(191) NOT NULL,
  `adminId` varchar(191) NOT NULL,
  `action` varchar(191) NOT NULL,
  `targetType` varchar(191) NOT NULL,
  `targetId` varchar(191) DEFAULT NULL,
  `details` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`details`)),
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `idx_adminlog_action` (`action`),
  KEY `AdminLog_adminId_idx` (`adminId`),
  CONSTRAINT `adminlog_adminId_fkey` FOREIGN KEY (`adminId`) REFERENCES `user` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adminlog`
--

LOCK TABLES `adminlog` WRITE;
/*!40000 ALTER TABLE `adminlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `adminlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `automationconfig`
--

DROP TABLE IF EXISTS `automationconfig`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `automationconfig` (
  `id` varchar(191) NOT NULL,
  `feature` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `description` text NOT NULL,
  `category` varchar(191) NOT NULL,
  `enabled` tinyint(1) NOT NULL DEFAULT 0,
  `config` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`config`)),
  `apiProvider` varchar(191) DEFAULT NULL,
  `apiKey` text DEFAULT NULL,
  `apiEndpoint` varchar(191) DEFAULT NULL,
  `dailyQuota` int(11) DEFAULT NULL,
  `monthlyQuota` int(11) DEFAULT NULL,
  `usageCount` int(11) NOT NULL DEFAULT 0,
  `lastResetAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `costPerCall` double DEFAULT NULL,
  `totalCost` double NOT NULL DEFAULT 0,
  `schedule` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`schedule`)),
  `conditions` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`conditions`)),
  `priority` int(11) NOT NULL DEFAULT 0,
  `version` varchar(191) NOT NULL DEFAULT '1.0',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `AutomationConfig_feature_key` (`feature`),
  KEY `AutomationConfig_feature_idx` (`feature`),
  KEY `AutomationConfig_enabled_idx` (`enabled`),
  KEY `AutomationConfig_category_idx` (`category`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `automationconfig`
--

LOCK TABLES `automationconfig` WRITE;
/*!40000 ALTER TABLE `automationconfig` DISABLE KEYS */;
/*!40000 ALTER TABLE `automationconfig` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `automationlog`
--

DROP TABLE IF EXISTS `automationlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `automationlog` (
  `id` varchar(191) NOT NULL,
  `configId` varchar(191) NOT NULL,
  `action` varchar(191) NOT NULL,
  `feature` varchar(191) NOT NULL,
  `input` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`input`)),
  `output` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`output`)),
  `error` text DEFAULT NULL,
  `executionTime` int(11) DEFAULT NULL,
  `tokensUsed` int(11) DEFAULT NULL,
  `cost` double DEFAULT NULL,
  `userId` varchar(191) DEFAULT NULL,
  `targetId` varchar(191) DEFAULT NULL,
  `targetType` varchar(191) DEFAULT NULL,
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `AutomationLog_configId_idx` (`configId`),
  KEY `AutomationLog_feature_idx` (`feature`),
  KEY `AutomationLog_action_idx` (`action`),
  KEY `AutomationLog_createdAt_idx` (`createdAt`),
  KEY `AutomationLog_userId_idx` (`userId`),
  CONSTRAINT `automationlog_configId_fkey` FOREIGN KEY (`configId`) REFERENCES `automationconfig` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `automationlog`
--

LOCK TABLES `automationlog` WRITE;
/*!40000 ALTER TABLE `automationlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `automationlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `automationtemplate`
--

DROP TABLE IF EXISTS `automationtemplate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `automationtemplate` (
  `id` varchar(191) NOT NULL,
  `userId` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `trigger` varchar(191) NOT NULL,
  `conditions` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`conditions`)),
  `actions` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`actions`)),
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `AutomationTemplate_userId_idx` (`userId`),
  KEY `AutomationTemplate_active_idx` (`active`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `automationtemplate`
--

LOCK TABLES `automationtemplate` WRITE;
/*!40000 ALTER TABLE `automationtemplate` DISABLE KEYS */;
/*!40000 ALTER TABLE `automationtemplate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `badge`
--

DROP TABLE IF EXISTS `badge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `badge` (
  `id` varchar(191) NOT NULL,
  `type` enum('VERIFIED','TOP_SELLER','FAST_RESPONDER','PREMIUM','NEW_SELLER','TRUSTED','EXPERT') NOT NULL,
  `name` varchar(191) NOT NULL,
  `nameFr` varchar(191) NOT NULL,
  `nameAr` varchar(191) DEFAULT NULL,
  `description` text NOT NULL,
  `icon` varchar(191) NOT NULL,
  `color` varchar(191) NOT NULL,
  `criteria` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`criteria`)),
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `Badge_type_key` (`type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `badge`
--

LOCK TABLES `badge` WRITE;
/*!40000 ALTER TABLE `badge` DISABLE KEYS */;
/*!40000 ALTER TABLE `badge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `boostpackage`
--

DROP TABLE IF EXISTS `boostpackage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `boostpackage` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `price` int(11) NOT NULL,
  `duration` int(11) NOT NULL,
  `features` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`features`)),
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `BoostPackage_active_idx` (`active`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `boostpackage`
--

LOCK TABLES `boostpackage` WRITE;
/*!40000 ALTER TABLE `boostpackage` DISABLE KEYS */;
INSERT INTO `boostpackage` VALUES
('cmjh4ffw00004kcvcpkyz68sg','BOOSTE VOTRE ANNONCE','',2000,7,'[]',1,'2025-12-22 12:17:18.384','2025-12-22 12:17:18.384');
/*!40000 ALTER TABLE `boostpackage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `category`
--

DROP TABLE IF EXISTS `category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `category` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `nameFr` varchar(191) NOT NULL,
  `nameAr` varchar(191) DEFAULT NULL,
  `nameEn` varchar(191) DEFAULT NULL,
  `slug` varchar(191) NOT NULL,
  `icon` varchar(191) DEFAULT NULL,
  `image` varchar(191) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `order` int(11) NOT NULL DEFAULT 0,
  `isActive` tinyint(1) NOT NULL DEFAULT 1,
  `color` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `parentId` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Category_slug_key` (`slug`),
  KEY `Category_slug_idx` (`slug`),
  KEY `Category_order_idx` (`order`),
  KEY `Category_parentId_idx` (`parentId`),
  CONSTRAINT `category_parentId_fkey` FOREIGN KEY (`parentId`) REFERENCES `category` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `category`
--

LOCK TABLES `category` WRITE;
/*!40000 ALTER TABLE `category` DISABLE KEYS */;
/*!40000 ALTER TABLE `category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contactmessage`
--

DROP TABLE IF EXISTS `contactmessage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `contactmessage` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `phone` varchar(191) DEFAULT NULL,
  `subject` varchar(191) NOT NULL,
  `message` text NOT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'pending',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ContactMessage_status_idx` (`status`),
  KEY `ContactMessage_createdAt_idx` (`createdAt`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contactmessage`
--

LOCK TABLES `contactmessage` WRITE;
/*!40000 ALTER TABLE `contactmessage` DISABLE KEYS */;
/*!40000 ALTER TABLE `contactmessage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conversation`
--

DROP TABLE IF EXISTS `conversation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `conversation` (
  `id` varchar(191) NOT NULL,
  `listingId` varchar(191) DEFAULT NULL,
  `buyerId` varchar(191) NOT NULL,
  `sellerId` varchar(191) NOT NULL,
  `lastMessage` text DEFAULT NULL,
  `lastMessageAt` datetime(3) DEFAULT NULL,
  `unreadCount` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Conversation_buyerId_idx` (`buyerId`),
  KEY `Conversation_sellerId_idx` (`sellerId`),
  KEY `Conversation_listingId_idx` (`listingId`),
  CONSTRAINT `conversation_buyerId_fkey` FOREIGN KEY (`buyerId`) REFERENCES `user` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conversation`
--

LOCK TABLES `conversation` WRITE;
/*!40000 ALTER TABLE `conversation` DISABLE KEYS */;
/*!40000 ALTER TABLE `conversation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emailconfig`
--

DROP TABLE IF EXISTS `emailconfig`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `emailconfig` (
  `id` varchar(191) NOT NULL,
  `smtpHost` varchar(191) NOT NULL,
  `smtpPort` int(11) NOT NULL,
  `smtpUser` varchar(191) NOT NULL,
  `smtpPassword` text NOT NULL,
  `fromEmail` varchar(191) NOT NULL,
  `fromName` varchar(191) NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT 0,
  `welcomeTemplate` text DEFAULT NULL,
  `verificationTemplate` text DEFAULT NULL,
  `resetPasswordTemplate` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emailconfig`
--

LOCK TABLES `emailconfig` WRITE;
/*!40000 ALTER TABLE `emailconfig` DISABLE KEYS */;
INSERT INTO `emailconfig` VALUES
('cmjq82pw40000kc4smngy99sj','smtp.hostinger.com',465,'verification@afrivideoannonce.com','a177d94a87a2c6c84857eb4126c8795d:f3810f78ceffa9b53b2f72de7f17deb1','verification@afrivideoannonce.com','AFRIVIDEOANNONCE',1,'','','','2025-12-28 21:09:18.863','2026-04-18 00:41:48.506');
/*!40000 ALTER TABLE `emailconfig` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `favorite`
--

DROP TABLE IF EXISTS `favorite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `favorite` (
  `id` varchar(191) NOT NULL,
  `userId` varchar(191) NOT NULL,
  `listingId` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `Favorite_userId_listingId_key` (`userId`,`listingId`),
  KEY `Favorite_userId_idx` (`userId`),
  KEY `Favorite_listingId_idx` (`listingId`),
  CONSTRAINT `favorite_listingId_fkey` FOREIGN KEY (`listingId`) REFERENCES `listing` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `favorite_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favorite`
--

LOCK TABLES `favorite` WRITE;
/*!40000 ALTER TABLE `favorite` DISABLE KEYS */;
/*!40000 ALTER TABLE `favorite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `listing`
--

DROP TABLE IF EXISTS `listing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `listing` (
  `id` varchar(191) NOT NULL,
  `userId` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` text NOT NULL,
  `price` int(11) NOT NULL,
  `category` varchar(191) NOT NULL,
  `videoUrl` varchar(191) NOT NULL,
  `thumbnailUrl` varchar(191) NOT NULL,
  `duration` int(11) NOT NULL,
  `location` varchar(191) NOT NULL,
  `quartier` varchar(191) DEFAULT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'active',
  `moderationStatus` varchar(191) NOT NULL DEFAULT 'pending',
  `moderatedBy` varchar(191) DEFAULT NULL,
  `moderatedAt` datetime(3) DEFAULT NULL,
  `rejectionReason` text DEFAULT NULL,
  `views` int(11) NOT NULL DEFAULT 0,
  `boosted` tinyint(1) NOT NULL DEFAULT 0,
  `boostedUntil` datetime(3) DEFAULT NULL,
  `isUrgent` tinyint(1) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `expiresAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Listing_category_status_createdAt_idx` (`category`,`status`,`createdAt`),
  KEY `Listing_userId_idx` (`userId`),
  CONSTRAINT `listing_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `listing`
--

LOCK TABLES `listing` WRITE;
/*!40000 ALTER TABLE `listing` DISABLE KEYS */;
/*!40000 ALTER TABLE `listing` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `message`
--

DROP TABLE IF EXISTS `message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `message` (
  `id` varchar(191) NOT NULL,
  `conversationId` varchar(191) NOT NULL,
  `listingId` varchar(191) DEFAULT NULL,
  `senderId` varchar(191) NOT NULL,
  `content` text NOT NULL,
  `type` varchar(191) NOT NULL DEFAULT 'text',
  `mediaUrl` varchar(191) DEFAULT NULL,
  `read` tinyint(1) NOT NULL DEFAULT 0,
  `audioDuration` int(11) DEFAULT NULL,
  `fileSize` int(11) DEFAULT NULL,
  `deliveredAt` datetime(3) DEFAULT NULL,
  `readAt` datetime(3) DEFAULT NULL,
  `deleted` tinyint(1) NOT NULL DEFAULT 0,
  `deletedAt` datetime(3) DEFAULT NULL,
  `deletedForAll` tinyint(1) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `Message_conversationId_idx` (`conversationId`),
  KEY `Message_listingId_idx` (`listingId`),
  KEY `Message_senderId_idx` (`senderId`),
  CONSTRAINT `message_conversationId_fkey` FOREIGN KEY (`conversationId`) REFERENCES `conversation` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `message_listingId_fkey` FOREIGN KEY (`listingId`) REFERENCES `listing` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `message_senderId_fkey` FOREIGN KEY (`senderId`) REFERENCES `user` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `message`
--

LOCK TABLES `message` WRITE;
/*!40000 ALTER TABLE `message` DISABLE KEYS */;
/*!40000 ALTER TABLE `message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification`
--

DROP TABLE IF EXISTS `notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification` (
  `id` varchar(191) NOT NULL,
  `userId` varchar(191) NOT NULL,
  `type` enum('MESSAGE','SALE','ORDER','REVIEW','SYSTEM') NOT NULL,
  `title` varchar(191) NOT NULL,
  `body` text NOT NULL,
  `icon` varchar(191) DEFAULT NULL,
  `url` varchar(191) DEFAULT NULL,
  `data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`data`)),
  `read` tinyint(1) NOT NULL DEFAULT 0,
  `sent` tinyint(1) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `Notification_userId_idx` (`userId`),
  KEY `Notification_read_idx` (`read`),
  KEY `Notification_createdAt_idx` (`createdAt`),
  CONSTRAINT `notification_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification`
--

LOCK TABLES `notification` WRITE;
/*!40000 ALTER TABLE `notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment`
--

DROP TABLE IF EXISTS `payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment` (
  `id` varchar(191) NOT NULL,
  `userId` varchar(191) NOT NULL,
  `amount` int(11) NOT NULL,
  `currency` varchar(191) NOT NULL DEFAULT 'XOF',
  `status` varchar(191) NOT NULL DEFAULT 'pending',
  `paymentMethod` varchar(191) NOT NULL,
  `transactionId` varchar(191) DEFAULT NULL,
  `reference` varchar(191) NOT NULL,
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `adminNote` varchar(191) DEFAULT NULL,
  `paymentMethodId` varchar(191) DEFAULT NULL,
  `proofUrl` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Payment_reference_key` (`reference`),
  KEY `Payment_userId_idx` (`userId`),
  KEY `Payment_status_idx` (`status`),
  KEY `Payment_reference_idx` (`reference`),
  KEY `Payment_paymentMethodId_fkey` (`paymentMethodId`),
  CONSTRAINT `payment_paymentMethodId_fkey` FOREIGN KEY (`paymentMethodId`) REFERENCES `paymentmethod` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `payment_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment`
--

LOCK TABLES `payment` WRITE;
/*!40000 ALTER TABLE `payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paymentmessage`
--

DROP TABLE IF EXISTS `paymentmessage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `paymentmessage` (
  `id` varchar(191) NOT NULL,
  `message` text NOT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `bgColor` varchar(191) NOT NULL DEFAULT '#FF6B35',
  `textColor` varchar(191) NOT NULL DEFAULT '#FFFFFF',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paymentmessage`
--

LOCK TABLES `paymentmessage` WRITE;
/*!40000 ALTER TABLE `paymentmessage` DISABLE KEYS */;
INSERT INTO `paymentmessage` VALUES
('cmjhxehcz0000kcv8osnjemd1','Proc├®dure :\n\nEffectuez le paiement via Orange Money ou Wave Money sur le num├®ro indiqu├®.\n\nConservez le re├ºu ou faites une capture dÔÇÖ├®cran de la transaction.\n\nEnvoyez la preuve de paiement avec votre nom et la r├®f├®rence de la commande.\n\nUne fois le paiement confirm├®, votre commande sera trait├®e.',1,'#FF6B35','#FFFFFF','2025-12-23 01:48:22.498','2025-12-23 01:48:22.498');
/*!40000 ALTER TABLE `paymentmessage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paymentmethod`
--

DROP TABLE IF EXISTS `paymentmethod`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `paymentmethod` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `code` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `icon` varchar(191) DEFAULT NULL,
  `color` varchar(191) NOT NULL DEFAULT 'from-gray-500 to-gray-600',
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `order` int(11) NOT NULL DEFAULT 0,
  `config` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`config`)),
  `phoneNumber` varchar(191) DEFAULT NULL,
  `paymentLink` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `instruction` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `PaymentMethod_code_key` (`code`),
  KEY `PaymentMethod_active_idx` (`active`),
  KEY `PaymentMethod_code_idx` (`code`),
  KEY `PaymentMethod_order_idx` (`order`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paymentmethod`
--

LOCK TABLES `paymentmethod` WRITE;
/*!40000 ALTER TABLE `paymentmethod` DISABLE KEYS */;
/*!40000 ALTER TABLE `paymentmethod` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pushsubscription`
--

DROP TABLE IF EXISTS `pushsubscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `pushsubscription` (
  `id` varchar(191) NOT NULL,
  `userId` varchar(191) NOT NULL,
  `endpoint` varchar(191) NOT NULL,
  `p256dh` varchar(191) NOT NULL,
  `auth` varchar(191) NOT NULL,
  `userAgent` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `PushSubscription_endpoint_key` (`endpoint`),
  KEY `PushSubscription_userId_idx` (`userId`),
  CONSTRAINT `pushsubscription_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pushsubscription`
--

LOCK TABLES `pushsubscription` WRITE;
/*!40000 ALTER TABLE `pushsubscription` DISABLE KEYS */;
/*!40000 ALTER TABLE `pushsubscription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review`
--

DROP TABLE IF EXISTS `review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `review` (
  `id` varchar(191) NOT NULL,
  `reviewerId` varchar(191) NOT NULL,
  `reviewedId` varchar(191) NOT NULL,
  `rating` int(11) NOT NULL,
  `comment` text DEFAULT NULL,
  `featured` tinyint(1) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `Review_reviewerId_idx` (`reviewerId`),
  KEY `Review_reviewedId_idx` (`reviewedId`),
  CONSTRAINT `review_reviewerId_fkey` FOREIGN KEY (`reviewerId`) REFERENCES `user` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review`
--

LOCK TABLES `review` WRITE;
/*!40000 ALTER TABLE `review` DISABLE KEYS */;
/*!40000 ALTER TABLE `review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seosettings`
--

DROP TABLE IF EXISTS `seosettings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `seosettings` (
  `id` varchar(191) NOT NULL,
  `defaultTitle` varchar(191) DEFAULT NULL,
  `defaultDescription` text DEFAULT NULL,
  `defaultKeywords` text DEFAULT NULL,
  `ogImage` varchar(191) DEFAULT NULL,
  `ogType` varchar(191) DEFAULT 'website',
  `twitterHandle` varchar(191) DEFAULT NULL,
  `twitterCardType` varchar(191) DEFAULT 'summary_large_image',
  `googleAnalyticsId` varchar(191) DEFAULT NULL,
  `googleTagManagerId` varchar(191) DEFAULT NULL,
  `facebookPixelId` varchar(191) DEFAULT NULL,
  `sitemapEnabled` tinyint(1) NOT NULL DEFAULT 1,
  `robotsTxt` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seosettings`
--

LOCK TABLES `seosettings` WRITE;
/*!40000 ALTER TABLE `seosettings` DISABLE KEYS */;
INSERT INTO `seosettings` VALUES
('cmjja39ga0003kc78drszw7a0','Petites annonces vid??o en C??te d???Ivoire | IvoireCI','Publiez et d??couvrez des petites annonces 100% vid??o en C??te d???Ivoire. Achetez, vendez et promouvez vos produits facilement sur IvoireCI.','petites annonces vid??o, annonces vid??o C??te d???Ivoire, marketplace vid??o CI, vendre en vid??o, annonces Abidjan',NULL,'website',NULL,'summary_large_image',NULL,NULL,NULL,1,'User-agent: *\nAllow: /\n\nSitemap: https://ivoireci.com/sitemap.xml\n','2025-12-24 00:31:20.219','2026-01-01 23:36:11.053');
/*!40000 ALTER TABLE `seosettings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `setting`
--

DROP TABLE IF EXISTS `setting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `setting` (
  `id` varchar(191) NOT NULL,
  `key` varchar(191) NOT NULL,
  `value` text NOT NULL,
  `description` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Setting_key_key` (`key`),
  KEY `Setting_key_idx` (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `setting`
--

LOCK TABLES `setting` WRITE;
/*!40000 ALTER TABLE `setting` DISABLE KEYS */;
/*!40000 ALTER TABLE `setting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sitesettings`
--

DROP TABLE IF EXISTS `sitesettings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `sitesettings` (
  `id` varchar(191) NOT NULL,
  `siteName` varchar(191) NOT NULL DEFAULT 'VideoBoutique',
  `siteSlogan` varchar(191) DEFAULT NULL,
  `siteDescription` text DEFAULT NULL,
  `heroTitle` text DEFAULT NULL,
  `heroSubtitle` text DEFAULT NULL,
  `urgentSectionTitle` varchar(191) DEFAULT 'Annonces Urgentes',
  `recentSectionTitle` varchar(191) DEFAULT 'Annonces R├®centes',
  `shopsSectionTitle` varchar(191) DEFAULT 'Boutiques Premium',
  `logo` varchar(191) DEFAULT NULL,
  `favicon` varchar(191) DEFAULT NULL,
  `contactEmail` varchar(191) DEFAULT NULL,
  `contactPhone` varchar(191) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `socialFacebook` varchar(191) DEFAULT NULL,
  `socialTwitter` varchar(191) DEFAULT NULL,
  `socialInstagram` varchar(191) DEFAULT NULL,
  `socialLinkedIn` varchar(191) DEFAULT NULL,
  `socialYouTube` varchar(191) DEFAULT NULL,
  `socialTikTok` varchar(191) DEFAULT NULL,
  `maintenanceMode` tinyint(1) NOT NULL DEFAULT 0,
  `maintenanceMessage` text DEFAULT NULL,
  `homeLayout` varchar(191) NOT NULL DEFAULT 'modern',
  `dashboardLayout` varchar(191) NOT NULL DEFAULT 'nebula',
  `primaryColor` varchar(191) NOT NULL DEFAULT '#FF6B35',
  `secondaryColor` varchar(191) NOT NULL DEFAULT '#F7931E',
  `accentColor` varchar(191) NOT NULL DEFAULT '#FDC830',
  `enableAIDescriptionGenerator` tinyint(1) NOT NULL DEFAULT 1,
  `homepageSections` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`homepageSections`)),
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `backgroundColor` varchar(191) NOT NULL DEFAULT '#FFF7ED',
  `footerColor` varchar(191) NOT NULL DEFAULT '#FFFFFF',
  `footerTextColor` varchar(191) NOT NULL DEFAULT '#000000',
  `headerColor` varchar(191) NOT NULL DEFAULT '#FFFFFF',
  `headerTextColor` varchar(191) NOT NULL DEFAULT '#000000',
  `recentBgColor` varchar(191) NOT NULL DEFAULT '#FFFFFF',
  `recentTextColor` varchar(191) NOT NULL DEFAULT '#000000',
  `shopsBgColor` varchar(191) NOT NULL DEFAULT '#FFFFFF',
  `shopsTextColor` varchar(191) NOT NULL DEFAULT '#000000',
  `urgentBgColor` varchar(191) NOT NULL DEFAULT '#FFFFFF',
  `urgentTextColor` varchar(191) NOT NULL DEFAULT '#000000',
  `pwaIcon` varchar(191) DEFAULT NULL,
  `facebookAppId` varchar(191) DEFAULT NULL,
  `facebookAppSecret` varchar(191) DEFAULT NULL,
  `facebookLoginEnabled` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sitesettings`
--

LOCK TABLES `sitesettings` WRITE;
/*!40000 ALTER TABLE `sitesettings` DISABLE KEYS */;
INSERT INTO `sitesettings` VALUES
('cmja9rbrj0000kcpglvfs96x2','AfriVideoAnnonce','','','Petites annonces vid├®o en C├┤te d\'Ivoire |','','','','','/uploads/banners/banner-1767313376739-x3ag6v.png','','','','','','','','','','',0,'','cosmic','nebula','#FF6B35','#F7931E','#FDC830',1,'null','2025-12-17 17:12:07.759','2026-04-16 17:45:25.384','#FFF7ED','#FFFFFF','#000000','#FFFFFF','#000000','#FFFFFF','#000000','#FFFFFF','#000000','#FFFFFF','#000000',NULL,NULL,NULL,0);
/*!40000 ALTER TABLE `sitesettings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscription`
--

DROP TABLE IF EXISTS `subscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscription` (
  `id` varchar(191) NOT NULL,
  `userId` varchar(191) NOT NULL,
  `plan` varchar(191) NOT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'active',
  `startDate` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `endDate` datetime(3) DEFAULT NULL,
  `autoRenew` tinyint(1) NOT NULL DEFAULT 1,
  `paymentMethodId` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Subscription_userId_key` (`userId`),
  KEY `Subscription_userId_idx` (`userId`),
  KEY `Subscription_status_idx` (`status`),
  CONSTRAINT `subscription_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscription`
--

LOCK TABLES `subscription` WRITE;
/*!40000 ALTER TABLE `subscription` DISABLE KEYS */;
INSERT INTO `subscription` VALUES
('cmo3nb4j8000hqs0io40s95ig','cmo3n71qz000bqs0iar0za10f','pro','active','2026-04-18 01:15:34.961','2026-05-18 01:15:34.961',1,'cmo3natnl000fqs0i0mhi48lm','2026-04-18 01:15:34.965','2026-04-18 01:15:34.965');
/*!40000 ALTER TABLE `subscription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscriptionplan`
--

DROP TABLE IF EXISTS `subscriptionplan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscriptionplan` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `slug` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `price` int(11) NOT NULL,
  `features` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`features`)),
  `maxListings` int(11) DEFAULT NULL,
  `maxVideosPerListing` int(11) DEFAULT 1,
  `maxVideoDuration` int(11) DEFAULT NULL,
  `allowSubdomain` tinyint(1) NOT NULL DEFAULT 0,
  `allowCustomDomain` tinyint(1) NOT NULL DEFAULT 0,
  `allowLiveStreaming` tinyint(1) NOT NULL DEFAULT 0,
  `allowStories` tinyint(1) NOT NULL DEFAULT 0,
  `priority` int(11) NOT NULL DEFAULT 0,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `popular` tinyint(1) NOT NULL DEFAULT 0,
  `color` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `SubscriptionPlan_slug_key` (`slug`),
  KEY `SubscriptionPlan_slug_idx` (`slug`),
  KEY `SubscriptionPlan_active_idx` (`active`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscriptionplan`
--

LOCK TABLES `subscriptionplan` WRITE;
/*!40000 ALTER TABLE `subscriptionplan` DISABLE KEYS */;
/*!40000 ALTER TABLE `subscriptionplan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `systemlog`
--

DROP TABLE IF EXISTS `systemlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `systemlog` (
  `id` varchar(191) NOT NULL,
  `type` varchar(191) NOT NULL,
  `category` varchar(191) NOT NULL,
  `action` varchar(191) NOT NULL,
  `message` text NOT NULL,
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  `userId` varchar(191) DEFAULT NULL,
  `ipAddress` varchar(191) DEFAULT NULL,
  `userAgent` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `SystemLog_type_idx` (`type`),
  KEY `SystemLog_category_idx` (`category`),
  KEY `SystemLog_createdAt_idx` (`createdAt`),
  KEY `SystemLog_userId_idx` (`userId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `systemlog`
--

LOCK TABLES `systemlog` WRITE;
/*!40000 ALTER TABLE `systemlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `systemlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `systemsettings`
--

DROP TABLE IF EXISTS `systemsettings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `systemsettings` (
  `id` varchar(191) NOT NULL,
  `key` varchar(191) NOT NULL,
  `value` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`value`)),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `SystemSettings_key_key` (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `systemsettings`
--

LOCK TABLES `systemsettings` WRITE;
/*!40000 ALTER TABLE `systemsettings` DISABLE KEYS */;
/*!40000 ALTER TABLE `systemsettings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` varchar(191) NOT NULL,
  `phone` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) DEFAULT NULL,
  `password` varchar(191) NOT NULL,
  `avatar` varchar(191) DEFAULT NULL,
  `language` varchar(191) NOT NULL DEFAULT 'fr',
  `verified` tinyint(1) NOT NULL DEFAULT 0,
  `premium` tinyint(1) NOT NULL DEFAULT 0,
  `premiumUntil` datetime(3) DEFAULT NULL,
  `isPremium` tinyint(1) NOT NULL DEFAULT 0,
  `premiumTier` varchar(191) NOT NULL DEFAULT 'free',
  `role` varchar(191) NOT NULL DEFAULT 'USER',
  `isVendor` tinyint(1) NOT NULL DEFAULT 0,
  `suspended` tinyint(1) NOT NULL DEFAULT 0,
  `suspendedUntil` datetime(3) DEFAULT NULL,
  `suspendedReason` text DEFAULT NULL,
  `subdomain` varchar(191) DEFAULT NULL,
  `customDomain` varchar(191) DEFAULT NULL,
  `bannerUrl` varchar(191) DEFAULT NULL,
  `bio` text DEFAULT NULL,
  `shopTheme` varchar(191) NOT NULL DEFAULT 'default',
  `socialLinks` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`socialLinks`)),
  `videoUrl` varchar(191) DEFAULT NULL,
  `whatsappNumber` varchar(191) DEFAULT NULL,
  `galleryImages` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`galleryImages`)),
  `testimonials` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`testimonials`)),
  `trustBadges` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`trustBadges`)),
  `fontFamily` varchar(191) DEFAULT 'inter',
  `activePromotion` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`activePromotion`)),
  `aboutSection` text DEFAULT NULL,
  `customColors` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`customColors`)),
  `logoUrl` varchar(191) DEFAULT NULL,
  `businessHours` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`businessHours`)),
  `shopLayout` varchar(191) NOT NULL DEFAULT 'mobile-first',
  `rating` double NOT NULL DEFAULT 0,
  `totalRatings` int(11) NOT NULL DEFAULT 0,
  `totalSales` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `backgroundUrl` varchar(191) DEFAULT NULL,
  `aiReplyEnabled` tinyint(1) NOT NULL DEFAULT 1,
  `seoDescription` text DEFAULT NULL,
  `seoKeywords` text DEFAULT NULL,
  `seoTitle` varchar(191) DEFAULT NULL,
  `fbAccessToken` text DEFAULT NULL,
  `fbPageAccessToken` text DEFAULT NULL,
  `fbPageId` varchar(191) DEFAULT NULL,
  `fbPageName` varchar(191) DEFAULT NULL,
  `fbUserId` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `User_phone_key` (`phone`),
  UNIQUE KEY `User_email_key` (`email`),
  UNIQUE KEY `User_subdomain_key` (`subdomain`),
  UNIQUE KEY `User_customDomain_key` (`customDomain`),
  KEY `User_phone_idx` (`phone`),
  KEY `User_email_idx` (`email`),
  KEY `User_subdomain_idx` (`subdomain`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userbadge`
--

DROP TABLE IF EXISTS `userbadge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `userbadge` (
  `id` varchar(191) NOT NULL,
  `userId` varchar(191) NOT NULL,
  `badgeType` enum('VERIFIED','TOP_SELLER','FAST_RESPONDER','PREMIUM','NEW_SELLER','TRUSTED','EXPERT') NOT NULL,
  `awardedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `expiresAt` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UserBadge_userId_badgeType_key` (`userId`,`badgeType`),
  KEY `UserBadge_userId_idx` (`userId`),
  KEY `UserBadge_badgeType_fkey` (`badgeType`),
  CONSTRAINT `userbadge_badgeType_fkey` FOREIGN KEY (`badgeType`) REFERENCES `badge` (`type`) ON UPDATE CASCADE,
  CONSTRAINT `userbadge_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userbadge`
--

LOCK TABLES `userbadge` WRITE;
/*!40000 ALTER TABLE `userbadge` DISABLE KEYS */;
/*!40000 ALTER TABLE `userbadge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `verificationcode`
--

DROP TABLE IF EXISTS `verificationcode`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `verificationcode` (
  `id` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `code` varchar(191) NOT NULL,
  `type` varchar(191) NOT NULL,
  `expiresAt` datetime(3) NOT NULL,
  `used` tinyint(1) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `VerificationCode_email_code_idx` (`email`,`code`),
  KEY `VerificationCode_expiresAt_idx` (`expiresAt`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verificationcode`
--

LOCK TABLES `verificationcode` WRITE;
/*!40000 ALTER TABLE `verificationcode` DISABLE KEYS */;
/*!40000 ALTER TABLE `verificationcode` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-04-18 13:10:20
